@view-transition {
    navigation: auto;
  }
  
  @keyframes fade-in{
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fade-out{
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }

body {
  background-color: #FAF9F6;
  margin: 0;
  padding: 2rem;
  font-family: Helvetica, Arial, sans-serif;
}

p{
  font-family: Helvetica;
  font-size: 15px;
  position: absolute;
  left: 38%;
  top: 40%;  
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.return a{
  font-size: 14px;
}